*{
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

.hero{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
}

.hero p, .hero a{
    color: #f9faf8
}

.header{
    display: flex;
    align-items: center;
}

.shove{
    margin-left: auto;
}